@import "../../assets/scss/partials/mixin";

.slideshow,
.image {
  height: 255px;
  @include desktop-breakpoint {
    height: 415px;
  }
}

.slideshow {
  position: relative;
}

.image {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.right-arrow,
.left-arrow {
  z-index: 1;
  position: absolute;
  top: 50%;
  width: 12px;
  height: 22px;
  cursor: pointer;
  user-select: none;
  @include desktop-breakpoint {
    top: 156px;
    width: 46px;
    height: 80px;
  }
}

.right-arrow {
  right: 5px;
  transform: rotate(180deg);
  @include desktop-breakpoint {
    right: 24px;
  }
}

.left-arrow {
  left: 5px;
  @include desktop-breakpoint {
    left: 24px;
  }
}