@import "../../assets/scss/partials/mixin";

.error {
  text-align: center;
  &-title {
    margin-top: 96px;
    margin-bottom: 11px;
    color: $primary-color;
    font-size: 96px;
    font-weight: 700;
    line-height: 142.6%;
    @include desktop-breakpoint {
      margin-top: 64px;
      margin-bottom: 32px;
      font-size: 224px;
      line-height: 100%;
    }
  }
  &-subtitle {
    margin: 0 auto;
    margin-top: 10px;
    color: $primary-color;
    font-size: 18px;
    font-weight: 500;
    line-height: 142.6%;
    @include desktop-breakpoint {
      font-size: 36px;
    }
    &-br {
      @include desktop-breakpoint {
        display: none;
      }
    }
  }
  &-link {
    display: block;
    margin-top: 88px;
    margin-bottom: 88px;
    color: $primary-color;
    font-size: 14px;
    font-weight: 500;
    line-height: 142.6%;
    text-decoration-line: underline;
    @include desktop-breakpoint {
      margin-top: 80px;
      margin-bottom: 18px;
      font-size: 18px;
    }
  }
}