@import "./src/style";

.nav {
  display: flex;
  position: absolute;
  top: 50%;
  right: 20px;
  flex-wrap: nowrap;
  transform: translateY(-50%);
  &-active {
    text-decoration: underline;
  }
  &-link {
    text-decoration: none;
  }
  &-wrapper {
    position: relative;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
    padding: 20px;
    @include desktop-breakpoint {
      padding: 40px 20px;
    }
    img {
      width: auto;
      height: 42px;
      @include desktop-breakpoint {
        height: 62px;
      }
    }
  }
}

.nav-link,
.nav-active {
  margin-left: 10px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  @include desktop-breakpoint {
    margin-left: 57px;
    font-size: 24px;
    text-transform: capitalize;
  }
}